/* Colorblind safe color palette from colorbrewer2.org.
#d7191c - Red
#fec44f - Orange
#ffffbf - Off Yellow
#abd9e9 - Light Blue
#2c7bb6 - Blue
#8856a7 - Purple
#ffffff - White

*/

body {
  background-color: #8856a7;
  color: #fec44f;
  text-align: center;
}
h1 {
  color: #ffffff;
}
